body{
    margin : 1px; 
    
}
#body-header{
    height :60vh;
    opacity: 0.8;
    background-image : url(bg-image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
section{
    /* margin-top: -8.9px; */
    padding: 0px;
    background-image: url(bag.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
@media screen and (max-width:576px){
    #body-header{
        height:50vh;
    }
}
/* @media screen and (min-width: 768px) {
    #body-header{
        height :60vh;
    }
} */
.button {
    position: relative;
    background-color: #8deac8;
    border: none;
    font-size: 1rem;
    color: #090808;
    padding: 3px;
    /* width: 200px; */
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
.horizontal-list{
    list-style: none;
    padding: 0px;
    font-weight: 450;

}
.horizontal-list li {
    font-size: 30px;
    display: inline-block;
    margin: 3% 20px 20px 0px;
}
.horizontal-list li a{
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}
.horizontal-list li p{
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}
.horizontal-list li p:hover{
    color: rgb(4, 53, 51);
}
.horizontal-list li a:hover{
    color: rgb(6, 63, 60);
}
.text-center{
    text-align: center;
}
#name-social-container{
    margin-top:12vh;

}
#Hello{
    font-size: 1.2rem;
    /* letter-spacing: 0.1rem; */
    color: rgb(255, 255, 255);
    font-weight: 700;
}
#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 600;
    
}
.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
  }
  .waviy span {
    /* font-family: 'Alfa Slab One', cursive; */
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1.5s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

.social-icons li a i{
    padding: 10px;
    font-size: 2rem;
    border-radius:50%;
    margin-top: -26px;

}
.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(32, 178, 170,0.3);
}
#about{
    height:auto;
    width:100%;
    position: relative;
    border-color: 5px solid red;


}

#profile-photo{
    height: 15rem;
    width: 15rem;
    margin:auto;
    margin-top:-13vh;
}
#profile-photo img{
    height: 80%;
    width: 80%;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 4px rgb(241, 207, 152);

}
@media screen and (max-width: 992px){
    #profile-photo{
        margin-top:-13vh;
    }
}
@media screen and (max-width: 576px){
    #profile-photo{
        margin-top:-13vh;
    }
}
.intro{
    width: 80%;
    display: flex;
    margin-left:12%;
    margin-bottom: 8%;
}
.tap-to-top{
    margin-top:11%;
    font-size:1.9rem;
    position: fixed;
    background-color:rgb(155, 145, 136);
}
@media screen and (max-width:576px) {
    .tap-to-top{
        margin-top:50%;
    }
    
}
/* #skiils{
    height: auto;
    width: 100%;
    border: 2px solid red;
    display: flex;
    flex-direction:row;
    
} */
.skill-contant{
    width: 70%;
}
@media screen and (min-width: 992px) {
    .skill-contant{
        width: 60%;
    }
}
#skillbox-alignment{
    display: flex;
    flex-direction:row;
    align-content: center;
    flex-wrap: wrap;
    
}

#skillsbox{
    width: auto;
    display: flex;
    margin: 2%;
    align-items: center;
    flex-grow: 1;
    
}
.skill-progress{
    width:200px;
    height: 40px;
    display: flex;
    background-color: lightgrey;
    border-radius:20px;
}
.skill-progress>div{
    border-radius: 20px 0px 0px 20px;
}


.eightyfive{
    width: 85%;
    height: inherit;
    background-color: blue;
}
.skill-name span{
    color: white;
    font-size: 25px;
    margin-left: 15px;
}

.seventy{
    width: 70%;
    height: inherit;
    background-color: rgb(255, 0, 0);
}
.forty{
    width: 40%;
    height: inherit;
    background-color: rgb(0, 255, 26);
}
.ninty{
    width: 90%;
    height: inherit;
    background-color: rgb(255, 0, 115);
}

.eightynine{
    width: 89%;
    height: inherit;
    background-color: rgb(19, 30, 22);
}
.twenty{
    width: 20%;
    height: inherit;
    background-color: rgb(219, 173, 120);
}
#education{
    height:auto;
    background-color:lightgray;
    /* margin-top:100px; */
}
.outer-div{
    width: 75%;
    position: relative;
    font-size: 1.2rem;
}
 .internal-div{
    width: 40%;
    margin: 5px;
    left: 5;
    min-height: 150px;
    position: relative;
}

.internal-div:nth-child(2n){
    left: 53%;
} 
.internal-div:nth-child(2n + 1)::after{
    content: " ";
    border-radius: 50%;
    position: absolute;
    top: 15%;
    right: -24.6%;
    width: 0.8rem;
    height: 0.8rem;
    background-color:rgb(93, 107, 108);
    z-index: 1;
}
.internal-div:nth-child(2n)::after{
    content: " ";
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: -10%;
    width: 0.8rem;
    height: 0.8rem;
    background-color:rgb(93, 107, 108);
    z-index: 1;
}
.left-align{
    display: flex;
    flex-direction: row-reverse;
}

.box-devider{
    position: absolute;
    height:90%;
    width: 0%;
    border:  2px dashed rgb(45, 150, 185);
    top:5%;
    left:50%;
}
@media screen and (max-width:600px){
    .box-devider{
        left:5%;
    }
    .internal-div{
        width: 80%;
        left: 20%;
    }
    .internal-div:nth-child(2n){
        left: 20%;
    }
    .internal-div:nth-child(2n + 1)::after{
        left:-22.5%;
    }
    .internal-div:nth-child(2n)::after{
        left:-22.5%;
    }
}
.timeline-traveler{
    position:sticky;
    top: 0%;
    font-size: 2rem;
    color:rgb(47, 47, 155);
    transform: rotate(90deg);
    z-index: 2;
}
#portfolio{
    width: 100%;
    height: 600px;
    background-color:lightgray;
    /* border: 2px solid black; */
}
#contact{
    height: auto;
    background-image: linear-gradient(to bottom right,  cyan, blue);
}
.contact-containt{
    width: 100%;
    /* border: 2px solid rgb(216, 249, 4); */
}
.text-align{
    margin-top:50px;
    height: auto;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.right-div{
    width: 40%;
    /* border: 2px solid red; */

}

.form-inputs input{
    margin: 1rem;
    width: auto;
    font-size: 2rem;
    background: transparent;
}
.form-inputs input:hover{
    box-shadow: 0px 0px 6px 4px rgb(250, 3, 3);

}
.form-border input{
    border-top: 5px;
    border-left: 5px;
    border-right: 5px;
}
.form-button{
    display: flex;
    flex-direction: row-reverse;
}
.form-button input:hover{
    box-shadow: 100px 0px 100px 0px rgb(221, 246, 161) inset;

}

@media screen and (max-width:768px) {
    .waviy {
        position: relative;
        -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
      }
    .right-div{
        width: 70%;
        /* border: 2px solid red; */
    
    }
    
}
@media screen and (max-width: 576px){
    .waviy {
        position: relative;
        -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
      }
    .left-div{
        width: 80%;
        /* border: 2px solid red; */
    }
    .right-div{
        width: 70%;
        /* border: 2px solid red; */
    
    }
    .form-inputs input{
        width: 80%;
    }
    .checkbox-width input{
        width:auto;
    }
    .form-button input{
        font-size:1.3rem;
        width:auto;
        margin-right:15%;
    }
    
}





